<p>This page is private.</p>
<p>Username: {{username}}</p>
<p>First Name: {{first}}</p>
<p>Last Name: {{last}}</p>
<p>Profession: {{profession}}</p>
<p>Bio: {{bio}}</p>
<form id="logout-form" action="/logout" method="get">
    <input type="submit" value="Logout">
</form>